$base-font-family: "Inconsolata", monospace;
$base-font-weight: 400;
$base-font-size: 100%;
$base-line-height: 1.4;

$strong-font-weight: bold;

$header-color: #000;
$header-font-weight: 600;

$max-width: 42rem;

$unit: 1rem;

$text-color: #444;
$muted-color: #505050;
$background-color: #fafafa;
$code-background-color: #e8e8e8;
$accent-color: #4d679e;
